navigator navbar {
  hidereport @none
}

macro all_navbar [
  header -8<-
  == [[File:icons/nantic_logo.png|bottom]] Project Plan ==
  <[navigator id="navbar"]>
  ->8-
  ]

macro TaskTip [
  tooltip istask() -8<-
    '''Start: ''' <-query attribute='start'->
    '''End: ''' <-query attribute='end'->
    ----
    '''Resources:'''

    <-query attribute='resources'->
    ----
    '''Precursors: '''

    <-query attribute='precursors'->
    ----
    '''Followers: '''

    <-query attribute='followers'->
    ->8-
]


taskreport "Index" {
  formats html
  ${all_navbar}

  taskreport "Overview" {
    title "Project Overview"
    headline "Project Overview"
    loadunit days
    columns name, start, end, effort, chart { scale week width 1600 }
    timeformat "%a %m/%d"
    hidetask isleaf()
  }

  taskreport "Projects" {
    {% for line in lines %}
    {%- if line.taskjuggler_tasks -%}
    taskreport "{{line.code }}" {
      title "{{line.timesheet_work_name }}"
      headline "{{line.timesheet_work_name }}"
      loadunit days
      columns name, start, end, effort, chart { scale week width 1600 }
      taskroot task{{line.code}}
      }
    {% endif %}
    {% endfor %}

   }

   # A list of tasks showing the resources assigned to each task.
   taskreport development2 "Task Allocation" {
    scenarios plan
    headline "Development - Resource Allocation Report"
    columns bsi { title 'WBS' }, name, start, end, effort { title "Work" },
            duration, chart { ${TaskTip} scale day width 500 }
    timeformat "%Y-%m-%d"
    hideresource ~(isleaf() & isleaf_())
    sortresources name.up
  }



  # A list of all employees with their contact details.
  resourcereport resourceGraph "Resource Allocation" {
    headline "Contact list and duty plan"
    columns name, chart { scale week }
    hideresource ~isleaf()
    sortresources name.up
    hidetask 1
  }

}

