task task{{ task.code }}  "{{ task.code }}-{{ task.timesheet_work_name.replace('"','')[:40] }}"{
    projectid p{{ task.parent.id }}

    {%- if task.state != 'done' or task.taskjuggler_hours > 0.1 %}
        effort {{ task.taskjuggler_hours }}h
        priority {{ task.priority or 500 }}

        {% if task.resources %}
            {{ '\n'}}
            allocate rid{{task.resources[0].id}} {alternative {% for res in task.resources[1:-1] %} rid{{res.id}}, {%endfor%} rid{{task.resources[-1].id}} persistent}
        {% endif %}
    {% endif %}
    {% if task.predecessors %}
        {{ '\n'}}
        depends {{ task.predecessors|join(',','taskjuggler_code') }}
    {% endif %}

}
